body {
	overflow: hidden;
	background-color: #000000;
}

#canvas-wrapper {
	margin: 0 auto;
	width: 800px;		
}

#main-menu {
  background-image: url(../img/TWD_Splash1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	height: 600px;	
	
	display: flex;
	flex-direction: row;
	justify-content: center;	

	margin: 5% auto;
	width: 60%;	
}

#game-over {
  background-image: url(../img/TWD_GameOver1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	height: 600px;	
	
	display: flex;
	flex-direction: row;
	justify-content: center;	

	margin: 5% auto;
	width: 60%;
}

#game-win {
  background-image: url(../img/YouWin1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	height: 600px;	
	
	display: flex;
	flex-direction: row;
	justify-content: center;	

	margin: 5% auto;
	width: 60%;
}

#timer {
	border-top: 1px solid #96d1f8;
	background: #65d6c1;
	/* background: -webkit-gradient(linear, left top, left bottom, from(#3e8c9c), to(#65d6c1));
	background: -webkit-linear-gradient(top, #3e8c9c, #65d6c1);
	background: -moz-linear-gradient(top, #3e8c9c, #65d6c1);
	background: -ms-linear-gradient(top, #3e8c9c, #65d6c1);
	background: -o-linear-gradient(top, #3e8c9c, #65d6c1); */
	padding: 6px 12px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: white;	
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
	font-size: 25px;	
	position: absolute;
	top:1px;
	right: 64%;
	margin: 7px auto;	
	width: 100px;
}

/* Buttons */

.btn-wrapper {
	margin-top: 55%
}

.btn {  
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;	
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:20px;
	font-weight:bold;
	padding:0.5em;
	text-decoration:none;
  text-shadow:0px 1px 0px #854629;  
}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.btn:active {	
	top:1px;
}
